
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient List</title>
</head>
<body>

<h2>Patient List</h2>

<a href="/add/">Add New Patient</a>
<a href="/update/{{patient.id}}/" > Edit </a>
<ul>
    {% for patient in patients %}
        <li>
            {{ patient.id }} - {{ patient.name }} - {{ patient.age }} - {{ patient.disease }} - {{patient.admitted_date}}
            <a href = '/delete/{{patient.id}}/'>Delete</a>
            <a href = 'update/{{patient.id}}/d'>Edit</a>
        </li>
    {% empty %}
        <li>No patients available</li>
    {% endfor %}


</ul>
</body>
</html>
